
<footer class="   bg-dark text-white pt-3 " style="margin-top: auto;">

    <div class="container-fluid  ,text-md-left ">
        <div class="row  text-md-left m-2 "  >
           
           
              <p class=" mb-3 ">     this is WEBSITE &copy; 2021–2024</p>
     
   </div>
    </div>
   
   
   </footer>
   
   