<div class="container mb-4">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <p class="text-center"> <b>Are you sure you want to exit</b> </p>
                <button class=" btn btn-primary btn-block mb-2" type="button">
                    <a href="/user/logout" class="nav_item " style="color: white;">
                        <b> Yes</b> </a></button>
                <button class=" btn btn-dark btn-block mt-2" type="button">
                    <a href="/dashboard" class="nav_item " style="color: white;">
                        <b> No</b> </a></button>

            </div>
        </div>
    </div>
</div>